@model BusinessManagementSystemApp.Models.SupplierVM
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
  
</head>
<body>
    @if (ViewBag.SuccessMsg != null)
    {
        <h3 style="font-family:Arial, Helvetica, sans-serif;text-align:center;color:forestgreen">@ViewBag.SuccessMsg</h3>
    }
    @if (ViewBag.FailMsg != null)
    {
        <h3 style="font-family:Arial, Helvetica, sans-serif; text-align:center; color:red">@ViewBag.FailMsg </h3>
    }

    <div class="container">
        <form class="form-horizontal form-label-left" novalidate action="" method="post" enctype="multipart/form-data">
            <h3 class="section" style="text-align:center">Supplier Information Form</h3>
            <div class="form-row">
                <div class="item form-group">
                    <label class="control-label col-md-2" for="Code">
                        Code <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">

                        @Html.TextBoxFor(c => c.Code, null, new { @class = "form-control", placeholder = "1001" })
                        <span style="color:red">@Html.ValidationMessageFor(model => model.Code)</span>
                    </div>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-2" for="Name">
                    Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">

                    @Html.TextBoxFor(c => c.Name, null, new { @class = "form-control", placeholder = "Name" })
                    <span style="color:red">@Html.ValidationMessageFor(model => model.Name)</span>

                </div>

            </div>

            <div class="item form-group">
                <label class="control-label col-md-2" for="Address">
                    Address <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(c => c.Address, null, new { @class = "form-control", placeholder = "Address" })
                    <span style="color:red">@Html.ValidationMessageFor(model => model.Address)</span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="ImageFile" accept=".jpg,.jpeg,.png" />
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-2" for="Email">
                    Email <span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(c => c.Email, null, new { @class = "form-control", placeholder = "Address" })
                    <span style="color:red">@Html.ValidationMessageFor(model => model.Email)</span>
                </div>
            </div>

            <div class="item form-group">
                <label class="control-label col-md-2" for="Contact">
                    Contact<span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(c => c.Contact, null, new { @class = "form-control", placeholder = "Contact" })
                    <span style="color:red">@Html.ValidationMessageFor(model => model.Contact)</span>
                </div>
            </div>

            <div class="item form-group">
                <label class="control-label col-md-2" for="ContactPerson">
                    Contact Person<span class="required"></span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(c => c.ContactPerson, null, new { @class = "form-control", placeholder = "ContactPerson" })
                    <span style="color:red">@Html.ValidationMessageFor(model => model.ContactPerson)</span>
                </div>
            </div>

            <div class="item form-group">
                <div class="col-md-10" style="text-align:center">
                    <button id="Save" type="submit" class="btn btn-success">Save</button>
                    <a href="@Url.Action("Show","Supplier")" class="btn btn-primary">Cancel</a>
                </div>
            </div>

        </form>
    </div>
    @section scripts{
        <script src="~/Scripts/validator.js"></script>
        <script src="~/Scripts/jquery-3.0.0.min.js"></script>
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>
        <script src="~/Scripts/SweetAlert.js"></script>
        <script src="~/Scripts/sweetalert.min.js"></script>
        <link href="~/Styles/sweetalert.css" rel="stylesheet" />
        <script>

            $("#Code").keyup(function () {
                debugger
                var supplierCode = $("#Code").val();

                $.ajax({
                    url: "/Supplier/IsExistSupplierName",
                    type: "POST",
                    data: { supplierCode: supplierCode },
                    success: function (response) {
                        if (response == true) {
                            swal("Supplier already exist!");
                            return;
                        }
                    }
                })
            })

        </script>

    }
</body>
</html>