@model BusinessManagementSystemApp.Models.Models.CategoryViewModel
@{
    ViewBag.Title = "UpdateCategory";
}

<div class="container" style="width:70%;margin-top:3%;">
    <div class="form-group row">
        <a style="margin-top:2%" href="/Category/Index" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> Category List</a><hr />
        <h3 class="text-info">Update this category (:-</h3>
        @if (ViewBag.Message != null)
        {
            <h3 width="60%" align="center" class="label-danger">@ViewBag.Message</h3>

        }
    </div>
</div>

@if (Model != null)
{
    <div class="container" >
        <form method="post">
            <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
            <input type="hidden" name="IsActive" value="True" />
            <input type="hidden" name="Date" value="@DateTime.Now" />
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <label>Category Name</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="CategoryName" value="@Model.CategoryName" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <label>Code</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="CategoryCode" value="@Model.CategoryCode" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4"></div>
                <div class="col-md-5">
                    <input type="submit" class="btn btn-block btn-success" value="Update" />
                </div>
            </div>
        </form>
    </div>
}

